body {
  font-family: "Montserrat", sans-serif;
}

/* header start */
header {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url(images/header-img.jpeg) no-repeat center center / cover;
}
/* navbar start */
.nav-menu {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
  padding: 40px;
}

.menu-item {
  font-size: 13px;
  letter-spacing: 1px;
  color: #eee;
}
.menu-item:hover {
  color: #70abd2;
  transition: color 0.5s;
}

.nav-button:focus {
  outline-color: transparent;
}

.line-1,
.line-2,
.line-3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  transition: all 0.4s;
}

.change .line-1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav-menu,
.custom-navbar {
  transition: padding 0.5s;
}

.custom-navbar {
  padding: 5px 30px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7));
}

.nav-active {
  color: #70aed2;
}
/* navbar ends  */

/* banner start */
.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-heading {
  animation-name: bannerhead;
  animation-duration: 2s;
}

@keyframes bannerhead {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.banner-par {
  animation-name: bannerpar;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

@keyframes bannerpar {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* banner ends  */

/* header ends  */

/* mission start */
.mission {
  background: #151f20;
}

.under-line {
  width: 150px;
  margin: auto;
  border: 3px solid #eee;
}

.fromleft {
  animation-duration: 2s;
  animation-name: fromleft;
}

.fromright {
  animation-name: fromright;
  animation-duration: 2s;
}

@keyframes fromleft {
  0% {
    transform: translateX(-120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fromright {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* mission ends  */

/* collection start */
.card-shadow {
  box-shadow: 5px 8px 20px #444;
}

.heading {
  position: absolute;
  top: 70%;
  right: 0;
  font-size: 14px;
  letter-spacing: 1px;
  background-color: #222;
  width: 70%;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.5s ease;
}

.heading:hover {
  opacity: 1;
}
/* collection ends  */

/* gallary start */
.gallary-container {
  min-width: 300px;
}
.underline-dark {
  border: 3px solid #888;
}

.gallary-list-item {
  color: #777;
  cursor: pointer;
  user-select: none;
}

.active-item {
  color: #70abd2;
}
/* gallary ends  */

/* customer start */
.customers {
  background-color: #151f20;
}

/* customer ends  */
