body {
  font-family: "Montserrat", sans-serif;
}

/* header start */
header {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url(images/header-img.jpeg) no-repeat center center / cover;
}
/* navbar start */

/* banner start */
.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-heading {
  animation-name: bannerhead;
  animation-duration: 2s;
}

@keyframes bannerhead {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.banner-par {
  animation-name: bannerpar;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

@keyframes bannerpar {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* banner ends  */

/* navbar ends  */

/* header ends  */
